{% load static %}
<!DOCTYPE html>
    <link rel="stylesheet" href="{% static 'HappyPageStyleTest7.css' %}">

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Happy Page</title>
    </head>

    <body>

        <!-- Connect the database with HTML and send it to JS-->
        <script type="text/javascript">
            const Id = [];
            const Author = [];
            const Phrase = [];
            const AuthorPic = [];
            {% for i in myDataBase %}
                Id.push({{i.0}});
                Author.push('{{i.1}}');
                Phrase.push('{{i.2}}');
                AuthorPic.push('{{i.3}}');
            {% endfor %}
        </script>

        <div class="container">
            <p class="author" id="a"></p>
            <p class="phrase" id="p"></p>
            <p class="picture" id="pic"></p>
        </div>

        <!-- Used to generate random phrases and refresh the page-->
        <button id="bn"><b>See Another Phrase</b></button>

        <button class= "button" onclick="history.back()"><b>Go Back</b></button>

    </body>
        <script src="{% static 'HappyPageScript7.js' %}"></script>
</html>