{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <link rel="stylesheet" href="{% static 'ModeAppStyle.css' %}">
    <head>
        <meta charset="UTF-8">
        <title>MyModeApp</title>
    </head>
    <body>
        <h1>Welcome to My Mode App</h1>
        <p>Please choose your mode from the list:</p>

        <!-- Used to create the modes' buttons -->
        <div class="container">
            <button class= "button" onclick="location.href='/happy/'"> <b>Happy</b> </button>
            <button class= "button" onclick="location.href='/sad/'"> <b>Sad</b> </button>
            <button class= "button" onclick="location.href='/angry/'"> <b>Angry</b> </button>
            <button class= "button" onclick="location.href='/nervous/'"> <b>Nervous</b> </button>
        </div>

        <!-- Used to create the creators flip-box -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <b>The Creators</b>
                </div>
                    <div class="flip-box-back">
                    <h3>Ziyad Aljaser</h3>
                    <h3>Fahad Altamimi</h3>
                    <h3>Ammar Alsehli</h3>
                    <h3>Ahmed Alsleem</h3>
                </div>
            </div>
        </div>

    </body>
</html>
